<div class="container">
    <div class="row">
      <div class="col">
  
      </div>
      <div class="col-8">
  
        &nbsp;
        <div *ngIf="this.loadingBox" style="text-align: center">
          <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
            &nbsp;
            <span role="status">Loading...</span>
          </button>
        </div>
  
        <div class="card" style="margin-top: 5%">
  
          <div *ngIf="this.alertStatus" [ngClass]="this.alertClass" style="margin: 2%;" role="alert">
            {{this.alertText}}
          </div>
  
          <div class="container text-center">
            <div class="row">
              <div class="col">
                Average packet loss
                <input type="email" class="form-control" style="text-align: center;" id="emailAddress" name="emailAddress" placeholder="Number of packets" [(ngModel)]="this.packetValue">
              </div>
              
              <div class="col">
                Device Uptime
                <input type="email" class="form-control" style="text-align: center;" id="emailAddress" name="uptimeValue" placeholder="Uptime since last failure" [(ngModel)]="this.uptimeValue">
              </div>

              <div class="col">
                CPU Usage
                <input type="email" class="form-control" style="text-align: center;" id="emailAddress" name="cpuUsageValue" [(ngModel)]="this.cpuUsageValue">
              </div>
              <div class="col">
                Number of Smaller Issues
                <input type="email" class="form-control" style="text-align: center;" id="emailAddress" name="issueCountValue" [(ngModel)]="this.issueCountValue">
              </div>
            </div>

            <div *ngIf="this.resultBox" style="text-align: left;">

              &nbsp;
              <div [ngClass]="this.resultboxColor" role="alert">
                <h5>PREDICTION RESULTS</h5>
                <ul style="list-style-type: square;">
                  <li>Prediction ID: {{ predictionResult[0].prediction }}</li>
                  <li>Description: {{ predictionResult[1].text }}</li>
                  <li>Accuracy: {{ predictionResult[2].accuracy }}</li>
              </ul>
              </div>
            </div>

            <div style="margin: 2%;">
                <button type="submit" class="btn btn-primary" (click)="getRandomValues()">
                    Scan
                    &nbsp;
                    <i class="bi bi-arrow-repeat"></i>
                </button>

                &nbsp;
                <button type="submit" class="btn btn-warning" (click)="resetFields()">
                    Reset
                    &nbsp;
                    <i class="bi bi-x-circle"></i>
                </button>
                
                &nbsp;
                <button type="submit" class="btn btn-success" (click)="getPrediction()">
                    Predict
                    &nbsp;
                    <i class="bi bi-arrow-right-circle"></i>
                </button>

            </div>
          </div>
        </div>
  
      </div>
  
      <div class="col">
  
      </div>
    </div>
  </div>
  
  
  
  