<div class="container">
    <div class="row">
      <div class="col">
  
      </div>
      <div class="col-10">
  
        &nbsp;
        <div style="text-align: center">
            <h1 style="text-align: center; color: blueviolet;">Welcome to P-NEF</h1>
            <h4 style="text-align: center">You can predict any failures in network components</h4>
            <button style="margin-top: 3%;" class="btn btn-primary" type="button">
            <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
            &nbsp;
            <span role="status" (click)="clickMeButton()">Click me</span>
          </button>
        </div>  
      </div>
  
      <div class="col">
  
      </div>
    </div>
  </div>
  
  
  
  